@model BookMovieCatalog.Models.Movie

@{
    ViewData["Title"] = "Изтриване на филм";
}

<h2>Изтриване на филм</h2>

<div class="alert alert-warning" role="alert">
    Сигурни ли сте, че искате да изтриете този филм?
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">Заглавие</dt>
        <dd class="col-sm-10">@Model.Title</dd>
        <dt class="col-sm-2">Режисьор</dt>
        <dd class="col-sm-10">@Model.Director</dd>
        <dt class="col-sm-2">Жанр</dt>
        <dd class="col-sm-10">@Model.Genre</dd>
        <dt class="col-sm-2">Година</dt>
        <dd class="col-sm-10">@Model.YearReleased.ToShortDateString()</dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="btn btn-danger">Изтрий</button>
        <a asp-action="Index" class="btn btn-secondary">Отказ</a>
    </form>
</div>
